@import "tailwindcss";

:root {
    --color-newlead: #4FC3F7;
    --color-coldlead: #B0BEC5;
    --color-hotlead: #FF6F61;
    --color-contacted: #B39DDB;
    --color-high: #81C784;
    --color-veryhigh: #4CAF50;
    --color-medium: #FFB74D;
    --color-low: #90A4AE;
  }